### OSX ###
.DS_Store

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### Django ###
*.log
__pycache__/
local_settings.py

### files for local use only
.env

### database files
*.sqlite3
