[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-black = "*"
black = "*"

[packages]
asgiref = "==3.2.3"
pytz = "==2019.3"
sqlparse = "==0.3.1"
Django = "==3.0.4"

[requires]
python_version = "3.7"
